<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>trello.com</h3>
            </div>
            <div class="col-md-2">
                <h5>All Folders</h5>
            </div>
            <div class="col-md-2">
                <h5>Categories</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop" th:style="'width:200px;'">
                    + New Category
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{'/task-category/add'}" method="post" class="formOne">
                                    <div class="form-group">
                                        <label class="form-label">CATEGORY NAME:</label>
                                        <input type="text" class="form-control" name="category-name">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success" onclick="addPost()">Add Category</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" th:each="taskcategory : ${taskcategories}">
                <div class="input-group">
                    <form class="formTwo">
                        <input type="hidden" name="category-id" th:value="${taskcategory.id}">
                    </form>
                    <a th:href="@{'/task-category/details?id='+${taskcategory.id}}" class="btn btn-primary" th:text="${taskcategory.name}" th:style="'width:150px;'"></a>
                    <a class="btn  btn-primary" onclick="deletePost(event)">x</a>
                </div>
            </div>
        </div>

    </div>
    <script>
        function addPost(){
            const formOne = document.querySelector('.formOne');
            formOne.action = '/task-category/add';
            formOne.method = 'POST';
            formOne.submit();
        }

        function deletePost(event){
            const formTwo = event.target.closest('.input-group').querySelector('.formTwo');
            formTwo.action = '/task-category/delete';
            formTwo.method = 'POST';
            const agree = confirm('Are you sure that you want to remove?');
            if(agree){
                formTwo.submit();
            }
        }
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>